.cardBox {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.75rem;
  padding: 1.25rem;
}

@media (min-width: 640px) {
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .cardBox {
    grid-template-columns: repeat(4, 1fr);
  }
}
.cardBox .card {
  position: relative;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  border-radius: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
  padding: 1.75rem;
  --tw-shadow: 0 7px 25px rgba(0,0,0,0.08);
  --tw-shadow-colored: 0 7px 25px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.cardBox .card:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246/var(--tw-bg-opacity));
}

.cardBox .card .numbers {
  position: relative;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(59 130 246/var(--tw-text-opacity));
}

.cardBox .card .cardName {
  position: relative;
  top: 0.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(75 85 99/var(--tw-text-opacity));
}

.cardBox .card .iconBx {
  font-size: 2.25rem;
  line-height: 2.5rem;
  --tw-text-opacity: 1;
  color: rgb(75 85 99/var(--tw-text-opacity));
}

.cardBox .card:hover .numbers, .cardBox .card:hover .cardName, .cardBox .card:hover .iconBx {
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity));
}