<div class="recentCustomers">
    <div class="cardHeader">
        <h2>Recent Customers</h2>
        <table>
            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="assets/img1.jpg"></div>
                </td>
                <td>
                    <h4>David<br><span>Italy</span></h4>
                </td>
            </tr>
            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="assets/img2.jpg"></div>
                </td>
                <td>
                    <h4>Muhammad<br><span>India</span></h4>
                </td>
            </tr>
            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="assets/img3.jpg"></div>
                </td>
                <td>
                    <h4>Amelia<br><span>France</span></h4>
                </td>
            </tr>
            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="assets/img4.jpg"></div>
                </td>
                <td>
                    <h4>Olivia<br><span>USA</span></h4>
                </td>
            </tr>
            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="assets/img5.jpg"></div>
                </td>
                <td>
                    <h4>Amit<br><span>Japan</span></h4>
                </td>
            </tr>
            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="assets/img6.jpg"></div>
                </td>
                <td>
                    <h4>Ashraf<br><span>India</span></h4>
                </td>
            </tr>
            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="assets/img7.jpg"></div>
                </td>
                <td>
                    <h4>Diana<br><span>Malaysia</span></h4>
                </td>
            </tr>
            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="assets/img8.jpg"></div>
                </td>
                <td>
                    <h4>Amit<br><span>India</span></h4>
                </td>
            </tr>
        </table>
    </div>
</div>