.cardHeader h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(59 130 246/var(--tw-text-opacity));
}

.recentCustomers {
  position: relative;
  display: grid;
  min-height: 500px;
  border-radius: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
  padding: 1.25rem;
  --tw-shadow: 0 7px 25px rgba(0,0,0,0.08);
  --tw-shadow-colored: 0 7px 25px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.recentCustomers .imgBx {
  position: relative;
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.recentCustomers .imgBx img {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.recentCustomers table {
  width: 100%;
}

.recentCustomers table tr:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246/var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity));
}

.recentCustomers table tr td {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.recentCustomers table tr td h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.recentCustomers table tr td h4 span {
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(156 163 175/var(--tw-text-opacity));
}

.recentCustomers table tr:hover td h4 span {
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity));
}