<div class="signupForm">
    <form>
        <h3>Sign Up</h3>
        <input type="text" placeholder="User Name" />
        <input type="email" placeholder="Email Address" />
        <input type="password" placeholder="Password" />
        <input type="password" placeholder="Confirm Password" />
        <input type="button" value="Register" />
    </form>
</div>