<div class="header-content">
    <div class="toggle" @onclick="OnToggle">
        <ion-icon name="menu-outline"></ion-icon>
    </div>
    <!-- search -->
    <div class="search">
        <label for="keyword">
            <input id="keyword" type="text" placeholder="Search Here">
            <ion-icon name="search-outline"></ion-icon>
        </label>
    </div>
    <!-- Avatar -->
    <div class="user">
        <img src="assets/user.jpg" alt="">
    </div>
</div>