@inherits LayoutComponentBase

<div class="container">

    <!-- Navigation -->
    <NavMenu />

    <!-- Main -->
    <div class='main @IsToggle()'>
        <Header />

        @Body
    </div>
</div>