.container {
  position: relative;
  width: 100%;
}

.main {
  position: absolute;
  left: 100%;
  min-height: 100vh;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
  transition-duration: 0.5s;
}

@media (min-width: 640px) {
  .main {
    left: 300px;
  }

  .main {
    width: calc(100vw - 300px);
  }
}
.main.toggled {
  left: 80px;
  width: calc(100vw - 80px);
}