.navigation {
  position: fixed;
  z-index: 10000;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-left-width: 10px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246/var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246/var(--tw-bg-opacity));
  transition-duration: 0.5s;
}

@media (min-width: 640px) {
  .navigation {
    width: 300px;
  }
}
.navigation.toggled {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style-type: none;
}

.navigation ul li:hover {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

.navigation ul li.active {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

.navigation ul li:nth-child(1) {
  pointer-events: none;
  margin-bottom: 2.5rem;
}

/* 
    To overwrite the Blazor build-in component's style 
    need using ::deep keyword to make the effect happens.
*/
.navigation ul li ::deep a {
  position: relative;
  display: flex;
  width: 100%;
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity));
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

.navigation ul li ::deep a:hover {
  --tw-text-opacity: 1;
  color: rgb(59 130 246/var(--tw-text-opacity));
}

.navigation ul li ::deep a.active {
  --tw-text-opacity: 1;
  color: rgb(59 130 246/var(--tw-text-opacity));
}

.navigation ul li ::deep a.active::before, .navigation ul li:hover ::deep a::before {
  pointer-events: none;
  position: absolute;
  right: 0px;
  top: -50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: transparent;
  --tw-shadow: 35px 35px 0 10px #fff;
  --tw-shadow-colored: 35px 35px 0 10px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-content: "";
  content: var(--tw-content);
}

.navigation ul li ::deep a.active::after, .navigation ul li:hover ::deep a::after {
  pointer-events: none;
  position: absolute;
  right: 0px;
  bottom: -50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: transparent;
  --tw-shadow: 35px -35px 0 10px #fff;
  --tw-shadow-colored: 35px -35px 0 10px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-content: "";
  content: var(--tw-content);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  height: 60px;
  min-width: 60px;
  text-align: center;
  line-height: 70px;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.5rem;
  line-height: 2rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  height: 60px;
  white-space: nowrap;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  line-height: 60px;
}