<div class='navigation @IsToggle()'>
    <ul>
        <li>
            <NavLink href="#" Match=@_matchMode>
                <span class="icon">
                    <ion-icon name="apps-outline"></ion-icon>
                </span>
                <span class="title">Brand Name</span>
            </NavLink>
        </li>
        <li class='@GetActive("counter", _matchMode)'>
            <NavLink href="counter">
                <span class="icon">
                    <ion-icon name="albums-outline"></ion-icon>
                </span>
                <span class="title">Brand Name</span>
            </NavLink>
        </li>
        <li class='@GetActive("fetchdata", _matchMode)'>
            <NavLink href="fetchdata">
                <span class="icon">
                    <ion-icon name="checkbox-outline"></ion-icon>
                </span>
                <span class="title">Brand Name</span>
            </NavLink>
        </li>
        <li>
            <NavLink href="fun3">
                <span class="icon">
                    <ion-icon name="hammer-outline"></ion-icon>
                </span>
                <span class="title">Brand Name</span>
            </NavLink>
        </li>
        <li>
            <NavLink href="fun4">
                <span class="icon">
                    <ion-icon name="people-outline"></ion-icon>
                </span>
                <span class="title">Brand Name</span>
            </NavLink>
        </li>
        <li>
            <NavLink href="fun5">
                <span class="icon">
                    <ion-icon name="at-circle-outline"></ion-icon>
                </span>
                <span class="title">Brand Name</span>
            </NavLink>
        </li>
        <li>
            <NavLink href="fun6">
                <span class="icon">
                    <ion-icon name="code-working-outline"></ion-icon>
                </span>
                <span class="title">Brand Name</span>
            </NavLink>
        </li>
    </ul>
</div>
